@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/source/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('../fonts/source/SourceSansPro-ExtraLight.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Semibold';
    src: url('../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Homenaje';
    src: url('../fonts/homenaje/Homenaje-Regular.ttf');
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


::selection {
  background: hsla(195, 94%, 41%, 0.70); 
  color: rgba(255,255,255,0.9);
} 

p {
    margin: 5px 0px 5px 0px;
}

button p {
    margin: 0px;
}