body 
{
	margin: 2px;
}

a 
{ 
	text-decoration: none; font-weight: thin;
}

a:focus 
{
	outline: thin dotted;
}

a:hover, a:active 
{
	outline: 0; 
}

a 
{
	color: #747474;
}

a:hover 
{
	color: #bbbbbb;
	-webkit-transition: ease-in 0.2s;
	-moz-transition: ease-in 0.2s;
	-o-transition: ease-in 0.2s;
	-ms-transition: ease-in 0.2s;
	transition: ease-in 0.2s;
}

button
{
	margin: 1px;
}