@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/source/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('../fonts/source/SourceSansPro-ExtraLight.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Semibold';
    src: url('../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/roboto/Roboto-Light.ttf');
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    margin: 10px 0px 5px 0px;
}

@media (max-width: 600px) {
    body {    
        font-size: large;
    }
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0px;
	margin: 0px;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.6);
    border: 0px solid rgba(0,0,0,0);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.8);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0,0,0,1);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 0px solid rgba(0,0,0,0);
}

::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track:active {
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-corner {
    background: transparent;
    width: 0px;
    height: 0px;
    border: 0px solid rgba(0,0,0,0);
}

.nav {
    background-color: transparent;
}

.ribbon {
    background-color: transparent;
}


.screen_display {
    width: 100%;
    height: 100%;
    margin: 0px;
    flex: 1 1 auto;
}

.fill {
    width: 100%;
    height: 100%;
    margin: 0px;
	background-color: transparent;
    height: 100%;
}

.transparent_panel {
    background-color: rgba(0,0,0,0);
}

.sp_container {
    width: 100%;
    height: 100%;
    box-shadow: none;
    margin: auto;
    border: 0px transparent;
}

iframe {
    border: 0 none;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 1) 100%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    margin-bottom: 50px;
    position: relative;
}

.imgLogo {
    width: 120px;
    margin-right: 2em;
    display: block;
}

.imgTemplate {
    width: 60px;
    height: 60px;
    display: block;
    margin: auto;
}

.front_header {
    margin-bottom: 4px;
    color: rgba(0,0,0,0.9);
}

.front_subheader {
    font-style: italic;
    margin-bottom: 1em;
    color: rgba(0,0,0,0.9);
}

.col-md-4 {
    text-align: center;
    margin-bottom: 1em;
    height: 200px;
}

.button_holder {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tkRedButton { 
    transition: all 0.3s ease-in-out;
	position: relative;
    box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,0.3);
    background: linear-gradient(to bottom, #e0584c 0%, #cb2f34 100%);
    border-radius: 3px;
    border: 1px solid #a92228;
    cursor: pointer;
    color: white;
    padding: 6px 12px;
	margin: 1px;    
	display: inline-block;
    text-decoration: none;
}

.tkRedButton:hover {
    border: 1px solid #962025;
    box-shadow:  inset 10px 10px 140px 0px rgba(0,0,0,0.1);
    color: white;
    text-decoration: none;
}

.tkRedButton:active {
    border: 1px solid #962025;
    background: linear-gradient(to top, #e0584c 0%, #cb2f34 100%);
    color: white;
    outline: none;
    box-shadow: inset 10px 10px 140px 0px rgba(0,0,0,0.2), inset 0px 0px 1px 0px rgba(0,0,0,0.4);
    text-decoration: none;
}

.tkRedButton:focus {
    color: white;
    outline: none;
    text-decoration: none;
}

.tkRedButton:visited {
    color: white;
    text-decoration: none;
}

.tkBlueButton { 
    transition: all 0.3s ease-in-out;
	position: relative;
    box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,0.3);
    background: linear-gradient(to bottom, #51b8eb 0%, #429de8 100%);
    border-radius: 3px;
    border: 1px solid #3194dc;
    cursor: pointer;
    color: white;
    padding: 6px 12px;
	margin: 1px;    
	display: inline-block;
    text-decoration: none;
}

.tkBlueButton:hover {
    border: 1px solid #2a84c6;
    box-shadow:  inset 10px 10px 140px 0px rgba(0,0,0,0.1);
    color: white;
    text-decoration: none;
}

.tkBlueButton:active {
    border: 1px solid #2a84c6;
    background: linear-gradient(to top, #51b8eb 0%, #429de8 100%);
    color: white;
    outline: none;
    box-shadow: inset 10px 10px 140px 0px rgba(0,0,0,0.2), inset 0px 0px 1px 0px rgba(0,0,0,0.4);
    text-decoration: none;
}

.tkBlueButton:focus {
    color: white;
    outline: none;
    text-decoration: none;
}

.tkBlueButton:visited {
    color: white;
    text-decoration: none;
}

.tkButton { 
    transition: all 0.3s ease-in-out;
	position: relative;
    box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,0.8);
    background: linear-gradient(to bottom, #f5f5f5 0%, #ececec 100%);
    border-radius: 3px;
    border: 1px solid rgba(200,200,200,1);
    cursor: pointer;
    color: black;
    padding: 6px 12px;
	margin: 1px;    
	display: inline-block;
    text-decoration: none;
}

.tkButton:hover {
    border: 1px solid rgba(180,180,180,1);  
    box-shadow:  inset 10px 10px 140px 0px rgba(0,0,0,0.1);
    color: black;
    text-decoration: none;
}

.tkButton:active {
    border: 1px solid rgba(180,180,180,1);
    background: linear-gradient(to top, #f5f5f5 0%, #ececec 100%);
    color: black;
    outline: none;
    box-shadow: inset 10px 10px 140px 0px rgba(0,0,0,0.2), inset 0px 0px 1px 0px rgba(0,0,0,0.4);
    text-decoration: none;
}

.tkButton:focus {
    color: black;
    outline: none;
    text-decoration: none;
}

.tkButton:visited {
    color: black;
    text-decoration: none;
}

.tkButtonImage {
    width: 30px;
    padding: 2px;
    height: 30px;
}

.tkButtonText {
    display: block;
    padding: 0px;
    margin: 0px;
}

.tkRibbonButton { 
    width: 100%; 
    text-align: center;
    font-size: small;
    transition: all 0.3s ease-in-out;
	position: relative;
    background: transparent;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
    color: black;
    padding: 8px;
	margin: 1px;    
	display: inline-block;
    text-decoration: none;
}

.tkRibbonButton:hover {
    border: 1px solid rgba(180,180,180,1);  
    box-shadow:  inset 10px 10px 140px 0px rgba(0,0,0,0.1);
    color: black;
    text-decoration: none;
}

.tkRibbonButton:active {
    border: 1px solid rgba(180,180,180,1);
    background: linear-gradient(to top, #f5f5f5 0%, #ececec 100%);
    color: black;
    outline: none;
    box-shadow: inset 10px 10px 140px 0px rgba(0,0,0,0.2), inset 0px 0px 1px 0px rgba(0,0,0,0.4);
    text-decoration: none;
}

.tkRibbonButton:focus {
    color: black;
    outline: none;
    text-decoration: none;
}

.tkRibbonButton:visited {
    color: black;
    text-decoration: none;
}

.toolbarButton {
    min-width: 105px;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0);
    border-radius: 0px;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
}

.toolbarButton:hover {
    background-color: rgba(255,255,255,0.2);
    color: #ffffff;
    text-decoration: none;
}

.toolbarButton:active {
    background-color: rgba(255,255,255,0.4);
    color: #ffffff;
    text-decoration: none;
}

.toolbarButton:focus {
    color: #ffffff;
    text-decoration: none;
}

.toolbarButton:visited {
    color: #ffffff;
    text-decoration: none;
}

.imgToolbar {
    width: 32px;
    height: 32px;
    display: block;
    margin: 3px auto;
}

.toolbar {
    text-align: center;
    margin: auto;
    float: left;
}

@media (min-width: 600px) {
    .template {
        width: 33.333333%;
        float: left;
    }
}

.tkTextEdit {
    box-shadow: inset 1px 1px 4px 0px rgba(0,0,0,0.1);
    font-style: italic;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
}

.noResize {
    resize: none;
}

pre {
    border-radius: 0px;
}

.tkRibbonGroupTitle {
    color: rgba(0,0,0,0.5);
    text-align: center;
    clear: left;
    display: block;
    bottom: 0px;
    padding-top: 5px;
    width: 100%;
}

.tkRibbonGroup {
    display: inline-block;
    min-width: 50px;
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0px 5px;
}

.nav-tabs {
    padding-top: 3px;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.tab-pane {
    display: none;
}

.tab-pane .active {
    display: block;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background: transparent;
    background-color: rgb(255,255,255);
    border: 1px solid rgba(200,200,200,1);
    border-bottom: 0px solid transparent;
    box-shadow: none;
    border-top-left-radius: 3px;  
    border-top-right-radius: 3px;
}

.nav-tabs > li > a {
    border-radius: 3px;
    border: 0px solid transparent;
}

.nav > li > a {
    transition: all 0.3s ease-in-out;
    background-color: #ececec;
    border: 1px solid rgba(200,200,200,1);
    box-shadow: inset 0px -1px 0px 0px rgba(200,200,200,1);
    border-bottom: 0px solid transparent;
    color: #555;
    padding: 4px 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 3px;  
    border-top-right-radius: 3px;    
}

.nav-tabs > li > a:hover {
    background-color: #d8d8d8;
    border: 1px solid #a8a8a8;
    border-bottom: 0px solid transparent;
    box-shadow:  inset 10px 10px 140px 0px rgba(0,0,0,0.1), inset 0px -1px 0px 0px rgba(200,200,200,1);
    padding: 4px 8px;    
}


.ribbon-tabs {
    padding-top: 3px;
}

.ribbon-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.ribbon-tabs > li.active > a, .ribbon-tabs > li.active > a:hover, .ribbon-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background: transparent;
    background-color: #f8f8f8;
    border: 1px solid rgba(200,200,200,1);
    border-bottom: 0px solid transparent;
    box-shadow: none;
    border-top-left-radius: 3px;  
    border-top-right-radius: 3px;
}

.ribbon-tabs > li > a {
    border-radius: 3px;
    border: 0px solid transparent;
}

.ribbon > li > a {
    transition: all 0.3s ease-in-out;
    background-color: #ececec;
    border: 1px solid rgba(200,200,200,1);
    box-shadow: inset 0px -1px 0px 0px rgba(200,200,200,1);
    border-bottom: 0px solid transparent;
    color: #555;
    padding: 4px 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 3px;  
    border-top-right-radius: 3px;    
}

.ribbon-tabs > li > a:hover {
    background-color: #d8d8d8;
    border: 1px solid #a8a8a8;
    border-bottom: 0px solid transparent;
    box-shadow:  inset 10px 10px 140px 0px rgba(0,0,0,0.1), inset 0px -1px 0px 0px rgba(200,200,200,1);
    padding: 4px 8px;    
}

.tab-content {    
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 0px solid transparent;
    min-height: 50px;
    width: 100%;
    height: 100%;
    display: flex;
}

.tab-content > .active {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}

.ribbon-content {    
    background: linear-gradient(to bottom, #f8f8f8 70%, #f0f0f0 100%);
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 0px solid transparent;
    min-height: 50px;
    width: 100%;
    height: 100%;
    display: block;
}

.ribbon-content > .active {
    display: block;
}

.slide-content {    
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: transparent;
    min-height: 50px;
    width: 100%;
    height: 100%;
    display: flex;
}

.slide-content > .active {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}

.borderless {
    border-radius: 0px;
    border: 0px solid transparent;
}

.heavy-pad {
    padding: 0px 15px;
}

.tkToolbarButton {
    min-width: 24px;
    min-height: 24px;
    box-sizing: content-box;
    display: inline-block;
    margin: auto 0px;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    text-decoration: none;
    border: 0px solid transparent;
}

.tkToolbarButton:hover {
    background-color: rgba(9,128,184,0.4);
    color: #ffffff;
    text-decoration: none;
}

.tkToolbarButton:active {
    background-color: rgba(9,128,184,0.2);
    color: #ffffff;
    text-decoration: none;
}

.tkToolbarButton:focus {
    color: #ffffff;
    text-decoration: none;
}

.tkToolbarButton:visited {
    color: #ffffff;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.dropdown_content {
    flex-flow: row;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    display: none;
    position: absolute;
    top: 40px;
    background-color: rgba(0,0,0,.95);
    min-width: 400px;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {
    display: block;
}

.flex_show {
    display: flex;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.shadow
{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Design Tab */
.designer_content {
    flex-flow: row;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    display: flex;
    position: absolute;
    background-color: transparent;
    z-index: 1;
}

.left_pane {
    overflow: auto;
    padding: 5px;
    flex: 0 1 200px;
    width: 200px;
}

.right_pane {
    flex: 1 1 200px;
    padding: 10px;
    border-left: 1px solid rgba(0,0,0,.025);
    background-color: rgba(0,0,0,.1);
    overflow: auto;
}

.palette_button {    
    text-align: left;
    background-color: transparent;
    border: 0px solid #5193b3;
    box-sizing: content-box;
    display: inline-block;
    width: calc(100% - 10px);
    cursor: pointer;
    color: black;
    font-size: 12px;
    padding: 4px;
    text-decoration: none;
}

.palette_button:hover {
    background-color: rgba(9,128,184,0.2);
    color: black;
    text-decoration: none;
}

.palette_button:active {
    color: black;
    background-color: rgba(9,128,184,0.4);
    text-decoration: none;
}

.palette_button:focus {
    color: black;
    text-decoration: none;
}

.palette_button:visited {
    color: black;
    text-decoration: none;
}

.img_palette_button {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 4px 10px;
}

h5 {
    color: rgba(0,0,0,0.8);
    font-weight: 500;
    font-size: 15px;
}

.caption {
    display: block;
    font-style: italic;
    margin: 4px;
    color: rgba(0,0,0,0.6);
}

.tkListItem {
	position: relative;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.1);
    background: linear-gradient(to bottom, #3daee9 0%, #1d99f3 100%);
    border-radius: 3px;
    border: 0px solid transparent;
    cursor: pointer;
    color: #ffffff;
    padding: 6px 12px;
	margin: 1px;    
	display: inline-block;
    text-decoration: none;
}

.tkListItem:hover {
    background: linear-gradient(to bottom, #3498db 0%, #2980b9 100%);
    background-color: #74c2eb;
    border: 0px solid transparent;
    color: #ffffff;
    text-decoration: none;
}

.tkListItem:active {
    color: #ffffff;
    background: linear-gradient(to bottom, #2b7fb7 0%, #246fa0 100%);
    text-decoration: none;
}

.tkListItem:focus {
    color: #ffffff;
    text-decoration: none;
}

.tkListItem:visited {
    color: #ffffff;
    text-decoration: none;
}
.tkToolbarIconSmall {
    display: block;
    margin: auto;    
    width: 100%;
    height: 100%;
}
/* tkVideoPlayer */
.tkVideoPlayer {
    position: relative;
    width: 100%;
    background-color: black;
    height: 100%;
}

.tkVideoInnerPanel {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

.tkVideoPlayerControls {
    position: absolute;
    bottom: 0px;
    margin: 0px;
    padding: 2px;
    height: 32px;
    width: 100%;
    background: rgba(0,0,0,0.65);
    backdrop-filter: blur(10px);
    webkit-backdrop-filter: blur(10px);
    z-index: 100;
}

.tkVideoButton {
    transition: all 0.3s ease-in-out;
    width: 24px;
    height: 24px;
    box-sizing: content-box;
    display: inline-block;
    margin: auto 0px;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    text-decoration: none;
    border: 0px solid transparent;
}

@media (max-width: 600px) {
    .tkVideoPlayerControls {    
        height: 52px;
    }
    .tkVideoButton {
        width: 45px;
        height: 45px;
    }
}

.tkVideoButton:hover {
    background-color: rgba(9,128,184,0.6);
    color: #ffffff;
    text-decoration: none;
}

.tkVideoButton:active {
    background-color: rgba(9,128,184,0.4);
    color: #ffffff;
    text-decoration: none;
}

.tkVideoButton:focus {
    color: #ffffff;
    text-decoration: none;
}

.tkVideoButton:visited {
    color: #ffffff;
    text-decoration: none;
}

.tkLightsOutDiv {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
}

/* Dialog */
.tkDialog {
    width: auto;    
    min-width: 25%;
    max-width: 80%;
    height: auto;
    font-size: medium;
    color: rgba(0,0,0,0.9);
    background: linear-gradient(to bottom, #f8f8f8 70%, #f0f0f0 100%);
    background-color: rgba(255,255,255,0.9);
    position: relative;
    display: table;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0) translateY(-50%);
    z-index: 8888;
    padding:0px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.7);
}

.tkDialogTitle {
    margin: 0px;
    padding: 5px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Roboto Semibold', sans-serif;
}

@media (max-width: 600px) {
    .tkDialog {    
        width: 90%;
        font-size: large;
    }
}

.tkDialogButtonArea {
    text-align: center;    
    padding: 5px;
}

.tkDialogContentArea {
    padding: 5px;
    text-align: center;
}

/* Color */
.tkColorSlider {
    cursor: pointer;
    padding-left: 5px;
    position: relative;
    width: 100%;
    margin: 5px auto;
    height: 35px;
    max-height: 35px;
    border-radius: 3px;
    box-shadow: inset 0px 15px 22px 0px rgba(255,255,255,.3), inset 0px 0px 0px 1px rgba(0,0,0,0.3);
    background-image: url("transparency.png");
}

.tkColorPicker {
    display: flex;
    flex-flow: row;
}

.tkColorPickerLeft {
    flex: 1;
}

.tkColorSliderTitle {
    text-align: left;
    font-size: smaller;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.8);
}

.tkColorPickerRight {
    margin-left: 10px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: column;
}

.tkColorPickerPreview {
    width: 120px;
    height: 120px;
    background-color: black;
    cursor: pointer;
    padding-left: 5px;
    position: relative;
    margin: 5px auto;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-image: url("transparency.png");
}

.tkSlider {
    cursor: pointer;
    height: 25px;
    padding-left: 10px;
    width: 100%;
    position: relative;
    background-color: black;
}

.tkSliderTrack {
    height: 100%;
    width: calc(100% - 5px);
    position: absolute;
    top: 0;
    cursor: pointer;
}

.tkSliderThumb {
    position: absolute;
    left: 0;
    margin: 0px;
    margin-left: -10px;
    width: 10px;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: inset 0px 15px 22px 0px rgba(255,255,255,.6), 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.tkTextInput {
    width: 100%;
    height: 35px;
    box-shadow: inset 1px 1px 4px 0px rgba(0,0,0,0.1);
    font-style: italic;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
}

/* Widget Styles */
.dsWidgetContainer {  
    display: block;
    position: relative;
    margin-bottom: 10px;

    /* Widget size + (border size*2) */
    width: calc(400px + 2px);
    padding: 2px;    
    box-sizing: content-box;
    overflow:auto;
}

.dsWidgetBorder { 
    border: 1px solid rgba(0,0,0,0.3);  
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.15);
}

.dsWidgetNameTag {
    background: linear-gradient(to bottom, #3daee9 0%, #1d99f3 100%);
    border: 1px solid #2980b9;  
    border-top: 0px solid #2980b9;  
    border-right: 0px solid #ac3d48;  
    color: white;
    width: 33.33%;
    float: left;
    height: 20px;
    padding: 3px;
    text-align: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.15);   
    box-sizing: content-box;
}

.dsWidgetRunButton {
    background: linear-gradient(to bottom, #2b7fb7 0%, #246fa0 100%);
    border: 1px solid #226997;  
    border-top: 0px solid transparent;  
    border-left: 0px solid transparent;  
    color: white;
    width: 20px;
    float: left;
    height: 20px;
    padding: 3px;
    text-align: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 4px;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.15);   
    box-sizing: content-box;
}

.dsWidgetRunButton:hover { 
    color: #ffffff;
    background: linear-gradient(to bottom, #226b9b 0%, #20628d 100%);
    border: 1px solid #1b557b;  
    border-top: 0px solid transparent;  
    border-left: 0px solid transparent;  
    text-decoration: none;
}

.dsWidgetRunButton:active { 
    color: #ffffff;
    background: linear-gradient(to bottom, #1b547a 0%, #184b6d 100%);
    border: 1px solid #133f5b;  
    border-top: 0px solid transparent;  
    border-left: 0px solid transparent;  
    text-decoration: none;
}

.dsWindow {
    background-color: white;
    height: 300px;
    width: 400px;
}

.dsP {
    margin: 0px;
}

.img_run_button {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0px 0px 2px 0px;
}