* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #f1f1f1;
}

h1, h2, h3, h4, h5 {
    /* Reset margin block */
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 1rem 0;
}

.tkNotebook {
    width: 100%;
    height: 100%;
}

.tkNotebookButtonArea {
    width: 100%;
    background: linear-gradient(0deg, gainsboro, #eaeaea);
    padding: 0.5rem;
    padding-bottom: 0;
}

.tkNotebookButtonArea > button {
    background: #bbbbbb;
    color: #585858;
    border: 1px solid #afafaf;
    border-bottom: 0px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin: 0 0.25rem;
    padding: 0.25rem 0.25rem;
}

.tkNotebookButtonArea > button.active {
    border-color: #cacaca;
    background: white;
    color: black;
}
.tkNotebookContentArea {
    width: 100%;
    height: 100%;
    background: white;
}

.tkNotebookContentArea > div {

}