* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, p {
    /* Reset margin block */
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 1rem 0;
}

.flexless {
    flex: none;
    width: fit-content;
    height: fit-content;
}

.tkNotebook {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #b1b1b1;
}

.tkNotebookTabArea {
    width: 100%;
    background: linear-gradient(0deg, #f1f1f1, #d8d8d8);
    padding: 0.25rem;
    padding-bottom: 0;
    display: flex;
    max-width: 100%;
    box-shadow: inset 0 -1px 0 0 #b1b1b1;
    overflow-x: scroll;
    scrollbar-width: none; 
}

.tkNotebookTabArea::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.tkNotebookTabArea > button {    
    background: #d6d6d6;
    color: #585858;
    border: 1px solid #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin: 0 0.1rem;
    padding: 0.25rem 0.25rem;
    white-space: nowrap;
    outline: none;
}

.tkNotebookTabArea > button.active {
    border-color: #b1b1b1;
    background: white;
    color: black;
    border-bottom: 1px solid transparent;
}

.tkNotebookContentArea {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    background: white;
}

.tkNotebookContentArea > div {
    height: 100%;
    width: 100%;
}

.tkLabel {
    display: flex; 
    align-items: center;
}

.tkLabel span {

}

.tkLabel img {
    padding: 0.25rem;
}

.tkButtonPanel {
    display: flex;
    flex-flow: row; 
    padding: 0.25rem;
}

.tkLayout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.tkLayout > * {
    flex-grow: 1;
}

.tkLayoutHorizontal {
    flex-direction: row !important;
}

.tkLayoutVertical {
    flex-direction: column !important;
}