/* Display */
[tk-hide] {
    display: none !important;
}

/* TkView */
[tkview] {
    box-sizing: border-box;
}

/* TkText */
[tktext] {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0.25rem 0;
}

/* TkStack */
[tkstack] {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: auto;
}

[tkstack] > * {
    flex-grow: 1;
}

[tkstack-h] {
    flex-direction: row !important;
}

[tkstack-v] {
    flex-direction: column !important;
}

[tkstack-hr] {
    flex-direction: row-reverse !important;
}

[tkstack-vr] {
    flex-direction: column-reverse !important;
}

[tkstack-flow] > *, [tkstack-flowr] > * {
    flex-grow: 0;
}

[tkstack-flow] {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: flex-start;
}

[tkstack-flowr] {
    flex-direction: row-reverse !important;
    flex-wrap: wrap !important;
    justify-content: flex-end;
}

/* TkLabel */
[tklabel] {
    display: flex;
    align-items: center;
}

[tklabel] > [tkimage] {
    margin: 0.25rem;
}

[tklabel-image-top] {
    flex-direction: column !important;
}

[tklabel-image-bottom] {
    flex-direction: column-reverse !important;
}

[tklabel-image-left] {
    flex-direction: row !important;
}

[tklabel-image-right] {
    flex-direction: row-reverse !important;
}

[tklabel-image-only] > [tktext] {
    display: none !important;
}

[tklabel-text-only] > [tkimage] {
    display: none !important;
}

/* TkButton */
[tkbutton] > [tklabel] > [tktext] {
    padding: 0;
}

/* TkNotebook */
[tknotebook] {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

[tknotebook] > [tknotebook-tabarea] {
    width: 100%;
    padding: 0.25rem;
    padding-bottom: 0;
    display: flex;
    max-width: 100%;
    box-shadow: inset 0 -1px 0 0 #c3c3c3;
    overflow-x: scroll;
    scrollbar-width: none;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

[tknotebook] > [tknotebook-tabarea]::-webkit-scrollbar {
    width: 0;
    height: 0;
}

[tknotebook] > [tknotebook-tabarea] > [tknotebook-tab] {    
    background: #ececec;
    color: #585858;
    border: 1px solid #cecece;
    border-bottom: 1px solid #c3c3c3;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    white-space: nowrap;
    outline: none;
}

[tknotebook] > [tknotebook-tabarea] > [tknotebook-tab].active {
    border-color: #b1b1b1;
    background: white;
    color: black;
    border-bottom: 1px solid transparent;
}

[tknotebook] > [tknotebook-contentarea] {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    background: white;
    border: 1px solid #c3c3c3;
    border-top: 0px solid transparent;
    padding: 1rem;
}

[tknotebook] > [tknotebook-contentarea] > [tknotebook-content] {
    height: 100%;
    width: 100%;
    display: none;
}

[tknotebook] > [tknotebook-contentarea] > [tknotebook-content].active {
    display: block;
}

[tkinfinitescroller] {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    contain: layout;
    will-change: transform;
}

[tklist] * {
    cursor: pointer;
}

[tklist] .selected {
    background-color: rgba(0, 0, 0, 0.15);
}