:root {
    /* Common */
    --tk-border-radius: 0.2rem;

    /* App */
    --tkapp-background: rgb(245, 245, 245);

    /* TkView */
    --tkview-border: rgb(195, 195, 195);
    --tkview-fill: rgb(255, 255, 255);
    --tkview-text: rgb(0, 0, 0);
    --tkview-border-inactive: rgb(206, 206, 206);
    --tkview-fill-inactive: rgb(237, 237, 237);
    --tkview-text-inactive: rgb(89, 89, 89);
    --tkview-focus-border: rgb(0, 110, 255);

    /* TkList */
    --tklist-selected-fill: rgba(0, 0, 0, 0.1);
    --tklist-selected-border: rgba(0, 0, 0, 0.1);

    /* TkProgress */
    --tkprogress-bar-fill-1: rgb(45, 151, 237);
    --tkprogress-bar-fill-2: rgb(45, 151, 237);
    --tkprogress-bar-border: rgb(27, 113, 204);

    /* TkColorChooser */
    --tkcolorslider-border: rgba(0, 0, 0, 0.3);
    --tkcolorslider-highlight: rgba(255, 255, 255, 0.3);
    --tkcolorslider-thumb-border: rgba(0, 0, 0, 0.6);
    --tkcolorslider-thumb-highlight: rgba(255, 255, 255, 0.6);
    --tkcolorslider-thumb-fill-1: rgba(255, 255, 255, 0.5);
    --tkcolorslider-thumb-fill-2: rgba(255, 255, 255, 0.35);
    
    --tkcolorslider-thumb-hover-border: rgba(0, 0, 0, 0.8);
    --tkcolorslider-thumb-hover-highlight: rgba(255, 255, 255, 0.8);
    --tkcolorslider-thumb-hover-fill-1: rgba(255, 255, 255, 0.6);
    --tkcolorslider-thumb-hover-fill-2: rgba(255, 255, 255, 0.45);

    --tkcolorslider-thumb-active-border: rgba(0, 0, 0, 0.8);
    --tkcolorslider-thumb-active-highlight: rgba(255, 255, 255, 0.8);
    --tkcolorslider-thumb-active-fill-1: rgba(255, 255, 255, 0.8);
    --tkcolorslider-thumb-active-fill-2: rgba(255, 255, 255, 0.65);
    --tkcolorslider-thumb-active-shadow: rgba(0, 0, 0, 0.8);

    /* Misc */
    --tk-transparent-border: rgba(0, 0, 0, 0.5);
    --tk-even-child-fill: rgba(0, 0, 0, 0.07);

    /* Images */
    --tkimg-transparent-fill: url("transparency.png");
}

/* Display */
[tk-hide] {
    display: none !important;
}

/* Sizing */
[tk-auto-size] {
    width: auto !important;
    height: auto !important;
}

[tk-fill] {
    width: 100% !important;
    height: 100% !important;
}

/* TkView */
[tkview] {
    box-sizing: border-box;
}

/* TkText */
[tktext] {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0.25rem 0;
}

/* TkStack */
[tkstack] {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    overflow: auto;
}

[tkstack][tk-fill] > * {
    width: 100%;
    height: 100%;
}

[tkstack] > * {
    flex-grow: 1;
}

[tkstack-h] {
    flex-direction: row !important;
}

[tkstack-v] {
    flex-direction: column !important;
}

[tkstack-hr] {
    flex-direction: row-reverse !important;
}

[tkstack-vr] {
    flex-direction: column-reverse !important;
}

[tkstack-flow] > *, [tkstack-flowr] > * {
    flex-grow: 0;
}

[tkstack-flow] {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: flex-start;
}

[tkstack-flowr] {
    flex-direction: row-reverse !important;
    flex-wrap: wrap !important;
    justify-content: flex-end;
}

/* TkLabel */
[tklabel] {
    display: flex;
    align-items: center;
}

[tklabel] > [tklabel-icon] {
    margin: 0.25rem;
}

[tklabel] > [tklabel-icon][src=""] {
    /* Stop Safari from rendering borders on empty images */
    content: "";
}

[tklabel-icon-top] {
    flex-direction: column !important;
}

[tklabel-icon-bottom] {
    flex-direction: column-reverse !important;
}

[tklabel-icon-left] {
    flex-direction: row !important;
}

[tklabel-icon-right] {
    flex-direction: row-reverse !important;
}

[tklabel-icon-only] > [tktext] {
    display: none !important;
}

[tklabel-text-only] > [tkimage] {
    display: none !important;
}

/* TkButton */
[tkbutton] > [tklabel] > [tktext] {
    padding: 0;
}

/* TkField */
[tkfield] {    
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0.25rem;
    line-height: 1rem;
}

[tkfield-title] {
    font-weight: bold;
    margin-right: 0.25rem;
}

[tkfield-content] {
}

/* TkNotebook */
[tknotebook] {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

[tknotebook] > [tknotebook-tabarea] {
    width: 100%;
    padding: 0.25rem;
    padding-bottom: 0;
    display: flex;
    max-width: 100%;
    box-shadow: inset 0 -1px 0 0 var(--tkview-border);
    overflow-x: scroll;
    scrollbar-width: none;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

[tknotebook] > [tknotebook-tabarea]::-webkit-scrollbar {
    width: 0;
    height: 0;
}

[tknotebook] > [tknotebook-tabarea] > [tknotebook-tab] {    
    background: var(--tkview-fill-inactive);
    color: var(--tkview-text-inactive);
    border: 1px solid var(--tkview-border-inactive);
    border-bottom: 1px solid var(--tkview-border);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    white-space: nowrap;
    outline: none;
}

[tknotebook] > [tknotebook-tabarea] > [tknotebook-tab].active {
    border-color: var(--tkview-border);
    background: var(--tkview-fill);
    color: var(--tkview-text);
    border-bottom: 1px solid transparent;
}

[tknotebook] > [tknotebook-contentarea] {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    background: var(--tkview-fill);
    border: 1px solid var(--tkview-border);
    border-top: 0px solid transparent;
    padding: 0.75rem;
}

[tknotebook] > [tknotebook-contentarea] > [tknotebook-content] {
    height: 100%;
    width: 100%;
    display: none;
}

[tknotebook] > [tknotebook-contentarea] > [tknotebook-content].active {
    display: block;
}

[tkinfinitescroll] {
    margin: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
 
[tkinfinitescroll] [tkinfinitescroll-scrollplane] {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    contain: layout;
    will-change: transform;
}

[tkinfinitescroll] [tkinfinitescroll-runway] {
    position: absolute; 
    width: 1px; 
    height: 1px;
}

[tklist] {
    overflow-y: auto;
    justify-content: flex-start;
    outline: none;
    border-radius: 0;
    border: 1px solid var(--tkview-border);
    background: var(--tkview-fill);
}

[tklist]:focus-within {
    border: 1px solid var(--tkview-focus-border);
}

[tklist] * {
    cursor: pointer;
}

[tklist] > * {
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0.25rem;
    border-radius: 0;
}

[tklist] .selected {    
    background-color: var(--tklist-selected-fill);
    box-shadow: inset 0 0 0 1px var(--tklist-selected-border);
}

/* TkColorItem */
[tkcoloritem] .color-icon {
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--tk-transparent-border);
    border-radius: var(--tk-border-radius);
    margin-right: 0.25rem;
}

/* TkProgress */
[tkprogress] {
    display: inline-block;
    height: 1.5rem;
    padding: 0.15rem;
    margin: 0.25rem;
    background: rgb(242, 242, 242);
    border: 1px solid rgb(218, 218, 218);
    border-radius: var(--tk-border-radius);
    width: 100%;
}

[tkprogress] [tkprogress-bar] {
    height: 100%;
    width: 50%;
    display: block;
    border-radius: var(--tk-border-radius);
    background: linear-gradient(0deg, var(--tkprogress-bar-fill-1), var(--tkprogress-bar-fill-2));
    border: 1px solid var(--tkprogress-bar-border);
}

/* TkTemplate */
[template] {
    display: none !important;
}

/* TkSlider */
[tkslider] {
    cursor: pointer;
    height: 25px;
}

/* TkStepper */
[tkstepper] {
    border-radius: var(--tk-border-radius);
    border: 1px solid var(--tkview-border);
    background: var(--tkview-fill);
    padding: 0.15rem;
}

/* TkColorChooser */
[tkcolorchooser] {
    align-items: flex-start;
}

[tkcolorchooser] > div {
    margin: 0.25rem;
}

[tkcolorchooser] input[type=text] {
    height: 1.75rem;
    border-radius: var(--tk-border-radius);
    border: 1px solid var(--tkview-border);
    background: var(--tkview-fill);
    padding: 0.25rem;
    margin-bottom: 0.5rem;
}

[tkcolorchooser] [tknotebook] {
    margin-bottom: 1rem;
}

[tkcolorchooser] .colorSystemWidth {
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100% - 2rem);
}

[tkcolorchooser] .colorList {
    height: 12rem;
    overflow-y: auto;
    border: 0px solid transparent;
}

[tkcolorchooser] .colorText {
    padding: 0.25rem;
    border-radius: var(--tk-border-radius);
    font-weight: bold;
}

[tkcolorchooser] [tkfield]:nth-child(even) {
    background: var(--tk-even-child-fill);
}

[tkcolorslider-container] {
    background-image: var(--tkimg-transparent-fill);
    border-radius: var(--tk-border-radius);
    margin-bottom: 0.5rem;
    height: 30px;
}

[tkcolorslider-container]:last-child {
    margin-bottom: 0;
}

[tkcolorslider] {
    -webkit-appearance: none !important;
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin: auto; 
    border-radius: var(--tk-border-radius);
    box-shadow: inset 0px 15px 22px 0px var(--tkcolorslider-highlight), inset 0px 0px 0px 1px var(--tkcolorslider-border);
    outline: none;
}
  
[tkcolorslider]:hover {
    background-color: white;
    outline: none;
}

[tkcolorslider]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 1rem;
    height: 30px;
    background: linear-gradient(180deg, var(--tkcolorslider-thumb-fill-1), var(--tkcolorslider-thumb-fill-2));
    border: 1px solid var(--tkcolorslider-thumb-border);
    box-shadow: inset 0px 0px 0px 1px var(--tkcolorslider-highlight);
    border-radius: var(--tk-border-radius);
}

[tkcolorslider]::-webkit-slider-thumb:hover {
    background: linear-gradient(180deg, var(--tkcolorslider-thumb-hover-fill-1), var(--tkcolorslider-thumb-hover-fill-2));
    border: 1px solid var(--tkcolorslider-thumb-hover-border);
    box-shadow: inset 0px 0px 0px 1px var(--tkcolorslider-thumb-hover-highlight);
}

[tkcolorslider]::-webkit-slider-thumb:active {
    background: linear-gradient(180deg, var(--tkcolorslider-thumb-active-fill-1), var(--tkcolorslider-thumb-active-fill-2));
    border: 1px solid var(--tkcolorslider-thumb-active-border);
    box-shadow: inset 0px 0px 0px 1px var(--tkcolorslider-thumb-active-highlight), 0px 0px 3px var(--tkcolorslider-thumb-active-shadow);
}

[tkcolorpreview] {	
    background-image: var(--tkimg-transparent-fill);
    border-radius: var(--tk-border-radius);
    flex-grow: 0;
}

[tkcolorpreview-colorview] {
    width: 64px;
    height: 64px;
    cursor: pointer;
    position: relative;
    border-radius: var(--tk-border-radius);
    border: 1px solid var(--tk-transparent-border);
    background-color: black;
}

/* Helper classes */
.tktransparent-area {
    background: var(--tkimg-transparent-fill);
}