/* Display */
[tk-hide] {
    display: none !important;
}

/* TkWidget */
[tk-widget] {
    font-family: sans-serif;
    box-sizing: border-box;
}

/* TkText */
[tk-text] {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0.25rem 0;
}

/* TkStack */
[tk-stack] {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: auto;
}

[tk-stack] > * {
    flex-grow: 1;
}

[tk-stack-h] {
    flex-direction: row !important;
}

[tk-stack-v] {
    flex-direction: column !important;
}

[tk-stack-hr] {
    flex-direction: row-reverse !important;
}

[tk-stack-vr] {
    flex-direction: column-reverse !important;
}

[tk-stack-flow] > *, [tk-stack-flowr] > * {
    flex-grow: 0;
}

[tk-stack-flow] {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: flex-start;
}

[tk-stack-flowr] {
    flex-direction: row-reverse !important;
    flex-wrap: wrap !important;
    justify-content: flex-end;
}

/* TkLabel */
[tk-label] {
    display: flex;
    align-items: center;
}

[tk-label] > [tk-image] {
    margin: 0.25rem;
}

[tk-label-image-top] {
    flex-direction: column !important;
}

[tk-label-image-bottom] {
    flex-direction: column-reverse !important;
}

[tk-label-image-left] {
    flex-direction: row !important;
}

[tk-label-image-right] {
    flex-direction: row-reverse !important;
}

[tk-label-image-only] > [tk-text] {
    display: none !important;
}

[tk-label-text-only] > [tk-image] {
    display: none !important;
}