/* Display */
[tk-hide] {
    display: none !important;
}

/* TkWidget */
[tkwidget] {
    box-sizing: border-box;
}

/* TkText */
[tktext] {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0.25rem 0;
}

/* TkStack */
[tkstack] {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: auto;
}

[tkstack] > * {
    flex-grow: 1;
}

[tkstack-h] {
    flex-direction: row !important;
}

[tkstack-v] {
    flex-direction: column !important;
}

[tkstack-hr] {
    flex-direction: row-reverse !important;
}

[tkstack-vr] {
    flex-direction: column-reverse !important;
}

[tkstack-flow] > *, [tkstack-flowr] > * {
    flex-grow: 0;
}

[tkstack-flow] {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: flex-start;
}

[tkstack-flowr] {
    flex-direction: row-reverse !important;
    flex-wrap: wrap !important;
    justify-content: flex-end;
}

/* TkLabel */
[tklabel] {
    display: flex;
    align-items: center;
}

[tklabel] > [tkimage] {
    margin: 0.25rem;
}

[tklabel-image-top] {
    flex-direction: column !important;
}

[tklabel-image-bottom] {
    flex-direction: column-reverse !important;
}

[tklabel-image-left] {
    flex-direction: row !important;
}

[tklabel-image-right] {
    flex-direction: row-reverse !important;
}

[tklabel-image-only] > [tk-text] {
    display: none !important;
}

[tklabel-text-only] > [tk-image] {
    display: none !important;
}